<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="directory"  value="C:\Users\ADMIN\Desktop\Prueba\Everis\DB\"/>
    <add key="fileNameDatabase" value="REGISTRADOS.txt"/>
    <add key="filenameAnime" value="Anime.dat"/>
    <add key="filenameComic" value="Comic.dat"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>